# 4.6 Combining & Exporting Data

1. Import libraries

2. Import data

3. Merge data

4. Export data

# 1.  Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 2. Import data

In [2]:
# Create a path

path = r'/Users/marie/Documents/CareerFoundry/09-2021 Instacart Basket Analysis'

In [10]:
# Import orders_products_combined from Prepared data

df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [11]:
# Check shape of df_ords_prods (exact the same shape as when exported).

df_ords_prods.shape

(32434489, 12)

In [12]:
# Import products from Prepared data

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# 3. Merge data

In [16]:
# Print to check columns

df_ords_prods.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [18]:
df_prods.head() #The common(key) column is product_id

,Unnamed: 0,Unnamed: 0.1,product_id,product_name,aisle_id,department_id,prices
0,0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,1,2,All-Seasons Salt,104,13,9.3
2,2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,4,5,Green Chile Anytime Sauce,5,13,4.3

Since the dataframes don´t have the same numbers of columns I can´t use the concat or the append function.

In [42]:
# Merge using a left join. I think this is the best choice since there is more information in the left dataframe(?)

df_ords_prods_merged = df_ords_prods.merge(df_prods, on = ['product_id'], how = 'left')

In [43]:
# Print the output

df_ords_prods_merged.head()

,Unnamed: 0_x,Unnamed: 0.1_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,Unnamed: 0.1_y,product_name,aisle_id,department_id,prices
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both,192.0,195.0,Soda,77.0,7.0,9.0
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both,14069.0,14084.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both,12412.0,12427.0,Original Beef Jerky,23.0,19.0,4.4
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both,26073.0,26089.0,Aged White Cheddar Popcorn,23.0,19.0,4.7
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both,26390.0,26406.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0

In [41]:
# Confirm the results of the merge

df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# 4. Export data

In [44]:
# Check shape before exporting

df_ords_prods_merged.shape

(32435059, 18)

In [45]:
# Export merged file in pickle format to Prepared data

df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))