# 4.8 Grouping Data & Aggregating Variables

1. Import libraries

2. Import data

3. Direction 2

4. Directions 4-5

5. Direction 6

6. Direction 7

7. Export data

# 1. Import libraries

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 2. Import data

In [3]:
# Create a path

path = r'/Users/marie/Documents/CareerFoundry/09-2021 Instacart Basket Analysis'

In [4]:
# Import data

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_latest.pkl'))

# 3. Direction 2
In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [5]:
# Split the dataframe into groups based on “department_id.”
# Apply the agg() function to each group to obtain the mean values for the “order_number” column.

ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

**Answer: In the Exercise I only used a subset of the dataframe (1 000 000 rows) so the mean values are a little bit higher in this command since I used the entire dataframe**

# 4. Directions 4-5
Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [6]:
# Check the correct name for the column I will use for this direction

ords_prods_merge.head(1)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,Busiest days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,...,77.0,7.0,9.0,Mid range product,Regularly busy,Regular days,Regularly busy,Average orders,10,New customer

In [7]:
# Check the basic statistics from each loyalty category

ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

**Answer: Loyal customer has an average that is less than a New-or a Regular customer, regarding prices**

# 5. Direction 6

The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [13]:
# Create a new column "spending" to dataframe
# Split the data into groups based on the "user_id" and "prices" column
# Apply the transform() function to generate the mean price for each user.

ords_prods_merge['spending'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
# Create spending flag depending on prices

ords_prods_merge.loc[ords_prods_merge['prices'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['prices'] >= 10, 'spending_flag'] = 'High spender'

In [15]:
# Check the frequency on new column "Spending Flag"

ords_prods_merge['spending_flag'].value_counts(dropna=False)

Low spender     21760937
High spender    10643922
NaN                30200
Name: spending_flag, dtype: int64

**Answer: The high spender customers represent about one third of Instacarts turnover.**

# 6. Direction 7

In order to send relevant notifications to users within the app (for instance, asking users if they want to buy 
the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. 
Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median 
in the “days_since_prior_order” column. The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [16]:
# Create a new column "user_behavior" to dataframe
# Split the data into groups based on the "user_id" and "days_since_prior_order" column
# Apply the transform() function to generate the median behavior for customers.

ords_prods_merge['user_behavior'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [17]:
# Create behavior flag depending on days since prior order

ords_prods_merge.loc[ords_prods_merge['days_since_prior_order'] >20, 'behavior_flag'] = 'Non-frequent customer'

In [18]:
ords_prods_merge.loc[(ords_prods_merge['days_since_prior_order'] >10) & (ords_prods_merge['days_since_prior_order'] <=20), 'behavior_flag'] = 'Regular customer'

In [19]:
ords_prods_merge.loc[ords_prods_merge['days_since_prior_order'] <10, 'behavior_flag'] = 'Frequent customer'

In [21]:
# Check the frequency on behavior_flag

ords_prods_merge['behavior_flag'].value_counts(dropna=False)

Frequent customer        18092009
Regular customer          6061501
Non-frequent customer     5235275
NaN                       3046274
Name: behavior_flag, dtype: int64

**Answer: Over 50% of the customers are "Frequent customer"**

# 7. Export Data

In [22]:
# Export dataframe in pickle format to Prepared data

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_latest.pkl'))