# 4.6 Combining & Exporting Data_Exercise & Task1

1. Import libraries

2. Import data

3. Merging data

4. Export data as pickle

# 1. Import libraries

In [18]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 2. Import data

In [19]:
# Create a path

path = r'/Users/marie/Documents/CareerFoundry/09-2021 Instacart Basket Analysis'

In [35]:
# Import order_products_prior from Original data

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [21]:
# Import orders from Prepared Data

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [25]:
# Check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [26]:
# Check the shape of both dataframes, to confirm the total size

df_ords_prior.shape

(32434489, 4)

In [27]:
df_ords.shape

(3421083, 8)

# 3. Merging data

In [28]:
# Merge df_ords_prior onto df_ords, with "order_id" as the common key 

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [29]:
# Print the new dataframe

df_merged_large.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [30]:
# Checking values in the "_merge" column

df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# 4. Export data

In [31]:
# Print shape before exporting

df_merged_large.shape

(32434489, 12)

In [32]:
# Export merged file in pickle format to Prepared data

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))